HCM-Integration-Patterns/assets/pending-worker-import-lab/personsSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 (x64) (http://www.altova.com) by Sharad Thankappan (private) -->
<!-- W3C Schema generated by XMLSpy v2015 rel. 3 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="allpersons">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="person" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="personal">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="firstName" type="xs:string"/>
										<xs:element name="lastName" type="xs:string"/>
										<xs:element name="dob" type="xs:date"/>
										<xs:element name="nationalIdentifier" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="work">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="employeeExternalNumber" type="xs:string"/>
										<xs:element name="legalEmployerId" type="xs:int"/>
										<xs:element name="legalEmployerName" type="xs:string"/>
										<xs:element name="businessUnitId" type="xs:short"/>
										<xs:element name="hireDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="contactInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="homePhone" type="xs:string"/>
										<xs:element name="email" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
